.portfolio {
  width: 1000px;
  margin: 0 auto;
}

.filtersList {
  width: 100%;
  display: flex;
  margin: 20px 0px;
}

.filter {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
  cursor: pointer;
}

.selectedFilter {
  background-color: rgb(142, 137, 137);
}

.projectList {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1870px;
}

.project {
  width: 32%;
  margin-bottom: 1%;
}

.project img {
  width: 100%;
}
